<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
	<div class="container-fluid">
		
		<div id="header" class="row-fluid hidden-phone">
			
			<div class="span12">
				Atlastory Project Manager
			</div>
		
		</div>
			
		<div id="header2" class="row-fluid">
			
			<div class="span3" id="current-project">
				Today
			</div>
			
			<div class="span9">
				<div id="tabs">
					<ul>
						<li <%= "class=active" if controller.action_name=='index' %>>
							<a href="/">Lists</a></li>
						<li <%= "class=active" if controller.action_name=='calendar' %>>
							<a href="#">Calendar</a></li>
						<li <%= "class=active" if controller.action_name=='wiki' %>>
							<a href="<%= url_for :action => 'wiki' %>">Project Wiki</a></li>
					</ul>
				</div>
			</div>
			
		</div>
		
		<%= yield %>
		
	</div>
	
	<%= javascript_include_tag @assets %>
</body>
</html>
